<app-modal *ngIf="isJoinRoomModalActive"
           (onButtonFired)="joinGame($event)"
           (onCloseFired)="isJoinRoomModalActive = false"
           [room]="room"
           [title]="'Enter room code:'"
           [buttonName]="'Join Game'">
</app-modal>


<div class="lobbyContainer">
  <h1>Create or join a room of tictactoe!</h1>
  <div class="lobbyContainer-buttons">
    <button (click)="createLobby()">Create Room</button>
    <button (click)="joinLobby()">Join Room</button>
  </div>
</div>
